* {
    margin: 0; /* Set the surrounding margins to 0 */
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #1f2b3e; /* Set the background */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}

/* Add new font */
@font-face {
    font-family: "Lato-Black";
    src: url("../resources/font/Lato/Lato-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../resources/font/Lato/Lato-Regular.ttf") format("truetype");
}

/* Add new font */
@font-face {
    font-family: "Montserrat";
    src: url("../resources/font/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

#header {
    display: flex; /* Make header a flex container */
    align-items: center; /* Center items vertically */
}

#brand {
    font-size: 140px;
    font-family: "Lato-Black";
    color: #FFFFFF;
    margin-left: 100px;
    margin-right: 250px;
    margin-top: 25px;
}

.wrapper{
    clear: both;
    justify-content: center;
    width: 60vw;
    height: 100px;
    line-height: 100px;
    background-color: #1F3A5F;
    /* box shadow */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    border-radius: 50px;
    margin-top: 30px;
}
.wrapper nav{
    display: flex;
    position: relative;
}
.wrapper nav label{
    display: flex;
    flex:1;
    width:100%;
    position: relative;
    z-index: 1;
    cursor: pointer;
    justify-content: center;
}
.wrapper nav label a{
    position: relative;
    z-index: -1;
    color: #333;
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Montserrat";
}
.wrapper nav label a i{
    font-size: 40px;
    margin: 0px 7px;
}
.wrapper nav input{
    display: none;
}
.wrapper nav .tab{
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0px;
    bottom: 0px;
    /* Gradient Background From Left to Right */
    background: linear-gradient(to right, #4d648d, #88c6fd);
    border-radius: 50px;
    /*  Using Bezier curves to add animated transitions  */
    transition: 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper nav #home:checked ~ label.home a,
.wrapper nav #overview:checked ~ label.overview a,
.wrapper nav #data:checked ~ label.data a,
.wrapper nav #findings:checked ~ label.findings a,
.wrapper nav #user:checked ~ label.user a{
    color: #fff;
    /* Add transition to font colour changes */
    transition: 0.4s;
}
.wrapper nav #overview:checked ~ .tab{
    left: 20%;
}
.wrapper nav #data:checked ~ .tab{
    left: 40%;
}
.wrapper nav #findings:checked ~ .tab{
    left: 60%;
}
.wrapper nav #user:checked ~ .tab{
    left: 80%;
}

/* Set style for real time display */
#time {
    font-size: 50px;
    font-family: "Montserrat";
    color: #FFFFFF;
    margin-left: 110px;
    align-self: flex-start;
}

#account {
    background-color: #4d648d;
    color: #FFFFFF;
    border: none;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    font-family: "Montserrat";
    border-radius: 40px;
    float: right;
    margin-top: 50px;
    margin-right: 40px;
    cursor: pointer;
    transition-duration: 0.4s;
}

#account:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}