* {
    margin: 0; /* Set the surrounding margins to 0 */
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #1f2b3e; /* Set the background */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: stretch;
}



#slogo {
    font-size: 2.2vw;
    font-family: "Lato-Black";
    color: #FFFFFF;
    margin-left: 2vw;
    margin-right: 3vw;
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 1/20 */
    padding-bottom: 5vh;
    /* 1/8 */
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    box-sizing: border-box;
}

#search-input {
    border: 1px solid #ccc; /* add border  */
    border-radius: 10px; /* border-radius */
    padding: 5px; /* padding */
    width: 20vh; /* width */
    /* box shadow */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    border-radius: 50px;
    margin-top: 1vw;
    margin-right: 3vw;
}

#search-input:hover {
    border: 1px solid #555; /* border color */
}

#search-button{
    border: 1px solid #ccc; /* add border */
    border-radius: 10px; /* border-radius */
    padding: 5px; /* padding */
    /* box shadow */
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    border-radius: 50px;
    margin-top: 1vw;
    margin-left: 1vw;
}

.container1 {
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 1/8 */
    padding-bottom: 12.5vh;

    /* 1/8 */
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    box-sizing: border-box;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* search box */
#search-input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
}

/* search button*/
#search-button {
    padding: 5px 15px;
}
/* map-container */
#map-container {
    width: 100%;
    flex: 1; /* 填充剩余空间 */
    /* 在这里添加地图样式 */
}

/*.container1{
    width: 100%; /* 页面宽度的75% 
    height: 100%; /* 页面高度的75% 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1cm; /* 上右下左的边距各为页面宽度的1/8 
    padding-right:2cm;
    padding-left:2cm;
    box-sizing: border-box;
}*/


#header {
    display: flex; /* Make header a flex container */
    
  
}

#brand {
    font-size: 4vw;
    font-family: "Lato-Black";
    color: #FFFFFF;
    margin-left: 2vw;
    margin-right: 3vw;
    margin-top: 1vw;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tip1{
    font-size: 1vw;
    font-family: "Lato-Black";
    color: #FFFFFF;
    margin-left: 2vw;
    margin-right: 3vw;
    margin-top: 1vw;
}

